<h1>Companies#index</h1>
<p>Find me in app/views/companies/index.html.erb</p>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=image_path("banque.jpg")%>)">
    La Banque Postale
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=image_path("cdiscount.jpg")%>)">
    Cdiscount
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=image_path("lockout.jpg")%>)">
   Lockout
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(<%=image_path("amazon.jpg")%>)">
   Amazon
  </div>
</div>
