<div class="cards">
  <% @companies.each do |company| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=image_path(company.image_url)%>)">
    <%= link_to company.name, company_path(company.id), class: 'card-link' %>
  </div>
  <% end %>
</div>
