.home-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  div img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid $merit-green;
    margin: 10px;
  }
}

.h2-green {
  color: $merit-green;
  margin-bottom: 30px;
}

@media (min-width: 100px) and (max-width: 575px) {
.home-partners {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
   div img {
    width: 100px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

.empty {
  width: 20%;
}
