.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

 div.logo{
 display: flex;
 }

 div.logo .navbar-brand img {
  width: 50px;
}

div p {
  color: $merit-green;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
