.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}

 div.logo{
 display: flex;
 }

 div.logo .navbar-brand img {
  width: 50px;
  flex-direction: column;
}

div p {
  color: $merit-green;
  padding: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
